.page-title img {
  margin-top: 30px;;
}

.page-summary {
  text-align: left;
  font-size: 22px;
  width: 100%;
  max-width: 712px;
  color: #181818;
  font-weight: 200;
}

@media screen and (max-width: 767px) {
  .page-summary {
    margin-top: 16px;
  }
}

@media screen and (max-width: 767px) {
  .page-title {
    position: sticky;
    top: 0px;
    background-color: white;
  }
}
